.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  color: #112d49;
  transform: scale(0.5);
  transition: 0.5s all;
}
.modal__content.active {
  transform: scale(1);
}
